extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Olivia Park

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            |I have always been passionate about technology. While I do have two degrees in the sciences, I have always
            |wanted to bridge the gap between technology and science. I am most interested in the healthcare field and
            |what technology can do to play role in saving lives.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li HTML
          li CSS
          li Express
          li JQuery
          li node.js
          li git
        h6 Contact Info

        ul
          li 540-235-6703
          li olivia.park1346@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/olivia-park-2b564174/') LinkedIn
        a.button.expanded(href='https://github.com/op1346') GitHub
        a.button.expanded(href='https://www.instagram.com/opark1346/') Instagram
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
