extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Olivia Park

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            |I have always been passionate about technology. While I do have two degrees in the sciences, I have always
            |wanted to bridge the gap between technology and science. I am most interested in the healthcare field and
            |what technology can do to play a role in saving lives. However, what I love most about programming and engineering
            |is the ability to be able to create whatever I want.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li HTML
          li CSS
          li Express
          li JQuery
          li Node.js
          li git
          li Python
          li Django
          li React

        h6 Contact Info

        ul
          li olivia.park1346@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/olivia-park-2b564174/') LinkedIn
        a.button.expanded(href='https://github.com/op1346') GitHub
        a.button.expanded(href='https://www.instagram.com/opark1346/') Instagram
        a.button.expanded(href='/static/resumev14.pdf') Resume v.14
        a.button.expanded(href='/static/cv.pdf') CV

  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
